<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional is http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">    
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">                                                       
  <head>                                                                                                                  
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />                                                  
    <meta http-equiv="Content-Language" content="cs" />                                                                   
    <link href="mystyle.css" rel="stylesheet" type="text/css" />                                                   
    <!--    <link href="styles/style.css" rel="stylesheet" type="text/css" /> -->                                         
                                                                                                                          
###ajax###                                                                                                                
                                                                                                                          
    <title>Test</title>                                                                                                   
  </head>                                                                                                                 
                                                                                                                          
  <body>                                                                                                                  
  <h1>Test</h1>                                                                                                           
  <h2>Links</h2>                                                                                                          
<table>                                                                                                                   
  <tr>                                                                                                                    
    <td><a href="./">1</a></td>                                                                                           
    <td><a href="./2">2</a></td>                                                                                          
    <td><a href="./3">3</a></td>                                                                                          
  </tr>                                                                                                                   
</table>                                                                                                                  
                                                                                                                          
                                                                                                                          
  <br/ >                                                                                                                  
  <h2>Show transition graph</h2>                                                                                          
<form action="." method="post">                                                                                           
  <select name="ip">                                                                                                      
    <option value="all">all</option>                                                                                      
###options###                                                                                                             
  </select>                                                                                                               
  <input type="submit">                                                                                                   
</form>                                                                                                                   
                                                                                                                          
###picture###                                                                                                             
<div class="pictohide">###picnote###</div>                                                                                
                                                                                                                          
<!-- <div class="right-arrow"></div> --> <div class="pic"> </div>                                                         
<p></p>                                                                                                                   
                                                                                                                          
  <h2>Header</h2>                                                                                                                                                                                                                            
                                                                                                                          
###body###                                                                                                                
                                                                                                                          
                                                                                                                          
  </body>                                                                                                                 
</html>
