.right-arrow:after {
    content:'\2192';
    font-size: 150px;
    display: inline;
}
table {
    width: 100px;
}
td {
    text-align: right;
}



path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
path.textpath {
    fill: none;
    stroke: none;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}
